main
    md-content.container
        #status-buttons.text-center.col-xs-6.col-xs-offset-1.col-sm-offset-3
            a(ui-sref-active="active" ui-sref="form" data-step="Step one")
                span 1
            uib-progressbar(max="fc.max" value="fc.dynamic" type="success")
            a(ui-sref-active="active" ui-sref="form-2" data-step="Step two")
                span 2
            {{title}}
        .clearfix
        form(ng-submit="fc.processForm()" name="form").md-inline-form
            ui-view(layout-wrap layout="row" layout-xs="column" layout-padding)
        div(ng-show="fc.showResult && form.$valid")
            p Name: {{fc.formData.name}}
            p Age: {{fc.formData.age}}
            p Gender: {{fc.formData.gender}}
            p Phone: {{fc.formData.phone}}
            p Email: {{fc.formData.email}}
            
