main
    md-content.container
        progressbar(dynamic="fc.dynamic")
        form(ng-submit="fc.processForm()" name="form").md-inline-form
            ui-view(layout-wrap layout="row" layout-xs="column" layout-padding)
        div(ng-show="fc.showResult && form.$valid")
            p Name: {{fc.formData.name}}
            p Age: {{fc.formData.age}}
            p Gender: {{fc.formData.gender}}
            p Phone: {{fc.formData.phone}}
            p Email: {{fc.formData.email}}
